body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* HEADER */
header {
  background: linear-gradient(90deg, #b8860b, #8b0000);
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
  letter-spacing: 2px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: gold;
}
